# encoding: utf-8
"""
{{ module_title }} serialization schemas
----------------------------------------
"""

{% for i in range(models|count) %}
from .{{ models[i] }} import Base{{ model_names[i] }}Schema, Detailed{{ model_names[i] }}Schema
{% endfor %}