# encoding: utf-8
"""
RESTful API {{ module_name }} resources
---------------------------------------
"""

from app.extensions.api import Namespace

api = Namespace('{{ module_namespace }}', description="{{ module_title }}")  # pylint: disable=invalid-name