# encoding: utf-8
"""
{{ module_title }} input arguments (parameters)
-----------------------------------------------
"""

{% for i in range(models|count) %}
from .{{ models[i] }} import Create{{ model_names[i] }}Parameters, Patch{{ model_names[i] }}DetailsParameters
{% endfor %}